{%include "gms/header.html"%}
{%load static%}
<style>

.search-box{
  background-color: rgba(46, 204, 113, 0.48);
  text-align: center;
  padding-top:30px;
  padding-bottom:20px;

}
.search-box-input{
  display:inline-block;
  padding:23px 50px 30px;
  height:80px;
  width:100%;
  max-width:400px;
  font-size:22px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing:antialiased;
  border-radius: 4px;
  border:none;
}
.search-box-btn{
  display: inline-block;
}
.inside {
position:absolute;
text-indent:15px;
margin-top:22px;
color:gray;
}

.boxed-in{
  text-align: center;
  color:#ffffff;
  height:250px;
  display:block;
  opacity:0.5;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing:antialiased;
}
a.boxed-in:hover{
  text-align: center;
  color:#ffffff;
  opacity:1;
  text-decoration: none;
}
.boxed-in h2{
  padding-top: 30px;
}
.relations{
  background-image: url("{%static "index/img/relations.jpg"%}");
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;
}
.family{
  background-image: url("{%static "index/img/family.jpg"%}");
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;
}
.social{
  background-image: url("{%static "index/img/social.jpg"%}");
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;
}

/*Start Old Styles
.btn-nav{
  margin-top: 60px;
  text-align: center;
}
.btn-cust{
margin:15px;
background: transparent;
font-family: 'Just Another Hand', cursive;
font-size: 30px;
border-color:#ffffff;
color:#ffffff;
border-width: 3px;
height:50px;
width:250px;
}
.btn-cust:hover{
  color: #c0392b;
  border-color: #c0392b;
}
.btn-cust-2:hover{
  color: #2ecc71;
  border-color: #2ecc71;
}
End Old Styles*/
</style>
  <!--<div class="btn-nav">
    <a class="btn btn-cust" href="/help">I NEED HELP NOW!</a>
    <button class="btn btn-cust btn-cust-2">FILE A REPORT</button>
  </div>-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="search-box">
        <form action="">
          <i class="inside fa fa-search fa-2x"></i>
          <input class="search-box-input" type="text" placeholder="What's bothering you bruh?" name="query">
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <a class="relations boxed-in" href="#">
          <h2>Relationships</h2>
      </a>
    </div>

    <div class="col-md-4">
      <a class="family boxed-in" href="#">
        <h2>Family</h2>
      </a>
    </div>

    <div class="col-md-4">
      <a class="social boxed-in" href="#">
        <h2>Social</h2>
      </a>
    </div>
  </div>
</div>
